In [2]:
import numpy as np
import pandas as pd

In [224]:
save_folder =  "D:/Samagra/KO/Recommendations engine/IVRS transformations/"

In [304]:
IVRS_numbers = pd.read_csv(save_folder + 'IVRS_phone_numbers.csv' )

In [293]:
KID_numbers = pd.read_csv(save_folder +'mobile_krushk_id.csv', header= None,names = ['int_krushk_id','phone_number'] )

In [294]:
KID_numbers = KID_numbers.loc[~np.isnan(KID_numbers.phone_number),:].drop_duplicates()

In [305]:
IVRS_numbers= pd.merge(IVRS_numbers,KID_numbers,how= 'left')

In [306]:
IVRS_numbers.shape

(3299511, 2)

In [231]:
complete_table.shape

(3299511, 2)

In [232]:
activity_data =  pd.read_csv('D:/Samagra/KO/gautam_data/test_conf/dataActivities3.csv',header= None,sep=';', names =['int_krushk_id','aadhar_no','field','self','mpas','ppas'])
activity_data['Activities'] = activity_data.field.combine_first(activity_data.self)
activity_data= activity_data[['int_krushk_id','Activities']]

C:\Users\gauta\AppData\Local\Temp\ipykernel_5924\764278704.py:1: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  activity_data =  pd.read_csv('D:/Samagra/KO/gautam_data/test_conf/dataActivities3.csv',header= None,sep=';', names =['int_krushk_id','aadhar_no','field','self','mpas','ppas'])

In [233]:
activity_data= pd.merge(activity_data,IVRS_numbers[['int_krushk_id']])
activity_data = activity_data.groupby(['int_krushk_id',])['Activities'].agg([(lambda x: ','.join(map(str, x)))]).applymap(lambda elements: ','.join(set(elements.split(',')))).reset_index().rename(columns = {'<lambda>':'Activities'})

In [234]:
Farmertype1 =  pd.read_csv('kid_aadhar_farmertype.csv',header= None,sep=';', names =['int_krushk_id','aadhar','Farmertype'])
Farmertype1= Farmertype1[['int_krushk_id','Farmertype']]

In [235]:
Farmertype1 = Farmertype1.drop_duplicates()
Farmertype1 =  Farmertype1.loc[~np.isnan(Farmertype1.Farmertype),:]

In [236]:
data_kharif = pd.read_csv('D:/Samagra/KO/gautam_data/test_conf/datakharifcrops.csv' )
data_kharif = data_kharif.rename(columns = {'KO':'kharif_crops', 'krushk_id':'int_krushk_id'})

C:\Users\gauta\AppData\Local\Temp\ipykernel_5924\4231890684.py:1: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  data_kharif = pd.read_csv('D:/Samagra/KO/gautam_data/test_conf/datakharifcrops.csv' )

In [237]:
data_kharif = data_kharif.groupby(['int_krushk_id',])['kharif_crops'].agg([(lambda x: ','.join(map(str, x)))]).applymap(lambda elements: ','.join(set(elements.split(',')))).reset_index().rename(columns = {'<lambda>':'kharif_crops'})

In [238]:
geo_data = pd.read_csv('D:/Samagra/KO/Joining confidence/Sampling blocks_users.csv',header= None,sep=';', names =['int_krushk_id','district','block','GP'])

In [239]:
animals_pd = pd.read_csv('animal large_small_poultry.csv', header= None, names =['int_krushk_id','Own_animal_large','Own_animal_small','Own_poultry'])

In [240]:
animals_pd = animals_pd.groupby('int_krushk_id').agg({'Own_animal_large':'max', 'Own_animal_small':'max','Own_poultry':'max'} ).reset_index()

In [241]:
brakish_pd = pd.read_csv('brakish_krushkid_capture_culture.csv', header= None, names =['int_krushk_id','Brakish_Capture','Brakish_culture'])

In [242]:
brakish_pd = brakish_pd.groupby('int_krushk_id').agg({'Brakish_Capture':'max', 'Brakish_culture':'max'} ).reset_index()

In [243]:
freshwater_pd =  pd.read_csv('freshwater_krushkid_capture_culture.csv', header= None, names =['int_krushk_id','Freshwater_capture','Freshwater_culture'])

In [244]:
freshwater_pd = freshwater_pd.groupby('int_krushk_id').agg({'Freshwater_capture':'max', 'Freshwater_culture':'max'} ).reset_index()

In [245]:
forest_type = pd.read_csv('typeForest_OriginAccess.csv', header=  None , names =['int_krushk_id','Forest_type','Forest_access_origin']  )

In [246]:
forest_type = forest_type.groupby(['int_krushk_id',])['Forest_type'].agg([(lambda x: ','.join(map(str, x)))]).applymap(lambda elements: ','.join(set(elements.split(',')))).reset_index().rename(columns = {'<lambda>':'Forest_type'})

In [247]:
forest_produce = pd.read_csv('krushk_id_produce.csv',header=  None , names =['int_krushk_id','produce_id','produce']  )

In [248]:
forest_produce = forest_produce.groupby(['int_krushk_id',])['produce'].agg([(lambda x: ','.join(map(str, x)))]).applymap(lambda elements: ','.join(set(elements.split(',')))).reset_index().rename(columns = {'<lambda>':'produce'})

In [229]:
complete_table = IVRS_numbers.copy()

In [249]:
complete_table = pd.merge(complete_table,activity_data, how= 'left'  )

In [250]:
complete_table = pd.merge(complete_table,Farmertype1, how= 'left'  )

In [251]:
complete_table = pd.merge(complete_table,data_kharif, how= 'left'  )

In [252]:
complete_table = pd.merge(complete_table,geo_data, how= 'left'  )

In [253]:
complete_table = pd.merge(complete_table,animals_pd, how= 'left'  )

In [254]:
complete_table = pd.merge(complete_table,brakish_pd, how= 'left'  )

In [255]:
complete_table = pd.merge(complete_table,freshwater_pd, how= 'left'  )

In [256]:
complete_table = pd.merge(complete_table,forest_type, how= 'left'  )

In [257]:
complete_table = pd.merge(complete_table,forest_produce, how= 'left'  )

In [258]:
complete_table.shape

(3299511, 17)

In [269]:
complete_table.to_csv('user_metadata_v1.csv',index = False )

In [3]:
#complete_table = pd.read_csv('user_metadata_v1.csv')

C:\Users\gauta\AppData\Local\Temp\ipykernel_13352\4098059125.py:1: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  complete_table = pd.read_csv('user_metadata_v1.csv')

In [260]:
complete_table.isna().sum()/complete_table.shape[0]

phone_number          0.000000
int_krushk_id         0.185565
Activities            0.257684
Farmertype            0.620620
kharif_crops          0.504480
district              0.257664
block                 0.257664
GP                    0.257597
Own_animal_large      0.997404
Own_animal_small      0.997404
Own_poultry           0.997404
Brakish_Capture       0.999611
Brakish_culture       0.999865
Freshwater_capture    0.998501
Freshwater_culture    0.999443
Forest_type           0.997923
produce               0.997924
dtype: float64

In [5]:
complete_table2 = complete_table.groupby(['phone_number'],as_index=False).agg([(lambda x: ','.join(map(str, x)))]).applymap(lambda elements: ','.join(set(elements.split(',')))).reset_index()

In [6]:
column_list = []
for name in complete_table2.columns.values:
    column_list.append(name[0])

In [9]:
complete_table2.columns =  column_list

In [10]:
complete_table2.shape

(2860160, 17)

In [11]:
complete_table2[complete_table2=='nan']= np.nan

In [12]:
1-(complete_table2.isnull().sum()/complete_table2.shape[0])

phone_number          1.000000
int_krushk_id         0.785931
Activities            0.731519
Farmertype            0.396797
kharif_crops          0.506581
district              0.731516
block                 0.731516
GP                    0.731578
Own_animal_large      0.002840
Own_animal_small      0.002840
Own_poultry           0.002840
Brakish_Capture       0.000439
Brakish_culture       0.000155
Freshwater_capture    0.001678
Freshwater_culture    0.000624
Forest_type           0.000305
produce               0.000294
dtype: float64

In [16]:
np.nansum(complete_table2['Activities'].str.contains('2'))

830262

In [13]:
complete_table2.to_csv('user_metadata_v2.csv',index = False )

### WIP

In [313]:
mobile_number_table =  complete_table.groupby('phone_number').size().reset_index()

In [317]:
mobile_number_table_multiple = mobile_number_table.loc[mobile_number_table[0] > 1,:]

In [328]:
join =  pd.merge(complete_table,mobile_number_table_multiple,how= 'inner').sort_values(by=['phone_number','int_krushk_id'], na_position='first')

In [337]:
join2 = join.groupby(['int_krushk_id'],as_index=False).agg([(lambda x: ','.join(map(str, x)))]).applymap(lambda elements: ','.join(set(elements.split(',')))).reset_index()

In [350]:
join2

,int_krushk_id,phone_number,Activities,Farmertype,kharif_crops,district,block,GP,Own_animal_large,Own_animal_small,Own_poultry,Brakish_Capture,Brakish_culture,Freshwater_capture,Freshwater_culture,Forest_type,produce,0
0,62.0,9938091498.0,1.0,2.0,"paddy,mustard",JHARSUGUDA,LAKHANPUR,KANDHEIKELA,nan,nan,nan,nan,nan,nan,nan,nan,nan,2
1,83.0,9337981443.0,1.0,2.0,"brinjal,chili,paddy",KENDRAPARA,RAJNAGAR,RANGANI,nan,nan,nan,nan,nan,nan,nan,nan,nan,21
2,85.0,9776597087.0,2.0,nan,nan,SONEPUR,BIRMAHARAJPUR,SUBALAYA,nan,nan,nan,nan,nan,nan,nan,nan,nan,2
3,88.0,7205503353.0,1.0,nan,"greengram,potato,onion,paddy,okra",MAYURBHANJ,BANGRIPOSI,CHANDANPUR,nan,nan,nan,nan,nan,nan,nan,nan,nan,2
4,94.0,9556897768.0,1.0,2.0,"blackgram,paddy",PURI,DELANG,GUALIPADA,nan,nan,nan,nan,nan,nan,nan,nan,nan,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
735401,7149531.0,8249591827.0,nan,nan,nan,nan,nan,nan,1.0,1.0,2.0,nan,nan,nan,nan,nan,nan,2
735402,7149538.0,8917514644.0,nan,2.0,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,2
735403,7149544.0,7077219245.0,nan,2.0,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,2
735404,7149553.0,9777570410.0,nan,3.0,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,2
735405,7149568.0,9556536820.0,nan,2.0,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,2

In [278]:
print(len(np.unique(complete_table.phone_number)))
print(len(np.unique(complete_table.int_krushk_id)))

2860160
2687239

In [346]:
join2.columns.values[0][0]

'int_krushk_id'

In [347]:
column_list = []
for name in join2.columns.values:
    column_list.append(name[0])

In [348]:
column_list

['int_krushk_id',
 'phone_number',
 'Activities',
 'Farmertype',
 'kharif_crops',
 'district',
 'block',
 'GP',
 'Own_animal_large',
 'Own_animal_small',
 'Own_poultry',
 'Brakish_Capture',
 'Brakish_culture',
 'Freshwater_capture',
 'Freshwater_culture',
 'Forest_type',
 'produce',
 0]